@model List<JobViewModel>;

@{
  ViewData["Title"] = "Formulatrix Career";
  var searchstring = @Context.Request.Query["searchstring"];
}
    <!-- image with search job and location search inside -->
    <div class="pt-32 pb-20 px-5 bg-custom-background">
      <form asp-controller="Home" asp-action="SearchJob" method="get">
      <div class="w-full container flex justify-between space-y-3 flex-col lg:space-x-1 lg:space-y-0 lg:flex-row">
        <div class="w-full">
          <input type="text" name="searchstring" value="@searchstring" class="form-control rounded-lg" placeholder="Search Job" aria-label="City"/>
        </div>
        <div class="btn-group">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white; color: rgb(40, 39, 39);">
            Department
          </button>
          <ul class="dropdown-menu">
          ...
          </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm" type="button" style="background-color: white; color: rgb(40, 39, 39);">
              location
            </button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white; color: black;">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              ...
            </ul>
          </div>
        @* <div class="dropdown w-1/3">
          <select class="form-select" aria-label="Default select example">
            <option selected>Departemen</option>
            <option value="Bandung">Bandung</option>
            <option value="Salatiga">Salatiga</option>
            <option value="Semarang">Semarang</option>
          </select>
        </div>
        <div class="dropdown w-1/3">
          <select class="form-select" aria-label="Default select example">
            <option selected>Choose location</option>
            <option value="Bandung">Bandung</option>
            <option value="Salatiga">Salatiga</option>
            <option value="Semarang">Semarang</option>
          </select>
        </div> *@
        <button type="submit" class="w-1/3 btn bg-amber-500 text-white hover:bg-amber-600 rounded-lg">Search<i
            class="bi bi-search mx-2"></i></i></button>
      </div>
      </form>
    </div>

    <!-- top jobs --> 
    <div class="container mb-3 ms-5">
      <h4 class="font-medium text-2xl mt-5">Opportunities</h4>
      <h5>See our available opportunities below</h5>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">

        @foreach (var job in Model)
        {
        <div class="col">
          <div class="card h-[250px] w-full">
            
            <div class="card-header">
              <h5 class="font-medium text-xl">@job.JobTitle</h5>
              <div class="d-flex me-3">
                <span class="text-gray-400 flex items-center space-x-1">
                <i class="text-gray-400 bi bi-calendar"></i>
                &nbsp;
                <h7 class="card-text text-sm">@job.JobPostedDate</h7>
              </span>
              </div>
              </div>
              
              <div class="card-body flex flex-column justify-between">
              <div class="card-text">
                <div class="d-flex me-3">
                  <span class="text-gray-1000 flex items-center space-x-1">
                    <i class="bi bi-geo-alt"></i>
                    &nbsp;
                    <h7 class="card-text text-sm">@job.Location</h7>
                  </span>
                </div>
                
                <div class= "d-flex me-3">
                  <i class="bi bi-journal-bookmark"></i>
                  &nbsp;
                  <p> D3-S1</p>
                  <p class="line-clamp-5"></p>
                </div>
                
                <div class= "d-flex me-3">
                  <i class="bi bi-briefcase-fill"></i>
                  &nbsp;
                  <p> Engineering</p>
                  <p class="line-clamp-5"></p>
                </div>
                
                <div class= "d-flex me-3">
                  <i class="bi bi-clock"></i>
                  &nbsp;
                  <p> Full Time</p>
                  <p class="line-clamp-5"> </p>
                </div>
              </div>
              @* <div class="flex mt-3 space-x-2"> *@
                <div class="d-flex mb-0 mt-0 space-x-2">
                <span class="me-auto p-2 space-x-1 items-center">
                <i class="bi bi-person"></i>
                <h7 class="card-text">Total Applicant : @job.CandidateCout</h7>
                </span>
                  <a type="button" class="btn bg-amber-500 text-white rounded-lg hover:bg-amber-600" href="@Url.Action("ApplyJob", new { id =job.JobId })">Apply</a>
                <a type="button" class="btn border-2 border-amber-500 text-amber-500 rounded-lg hover:bg-amber-500 hover:text-white" href="@Url.Action("DetailJob", new { id = job.JobId })" >Details</a>
              </div>
            </div>
            </div>
          </div>
        }
      </div>
    </div>
